* {
    font-family: 'IBM plex mono', serif;
}

body {
    padding: 0;
    margin: 0;
}

header{
    background-color: #524747;
    padding: 16px;
    display: flex;

    /* margin: -8px -8px; */
}

.headlink{
    color: white;
}


a.headlink:hover {
    color: #5ce25c;
}

a.header:visited {
    text-decoration: underline;
    color: palevioletred;
}

a.headlink:active {
    color: burlywood;
}

.mainBody {
    background-color: #c3c1c1;
    display: flex;
    flex-direction: column;
    /* margin: -8px -8px; */
    padding: 2em 20vw;
}

.card {
    border: 2px dotted;
    padding: 1em;
    margin-bottom: 2em;
}

.cardTitle{
    margin-top: 0;
}

.cardImage {
    max-width: 100%;
}

.description {
    margin-bottom: 1em;
}

.maplink {
    color: white;

}

a.maplink:hover {
    color: #56c356;
}

footer p{
    background-color: #524747 ;
    outline: none;
    text-align: right;
    margin: 0;
    padding-right: 1em;
    color: white;
    line-height: 2em;
}
